* {
    font-size: 1em;
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem;
    background-color: #f4f3ef;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}
h2 {
    letter-spacing: .07rem;
    text-align: center;
    text-transform: uppercase;
}
h3 {
    letter-spacing: .07rem;
    text-align: center;
    text-transform: uppercase;
}
h4 {
    letter-spacing: .07rem;
    text-align: center;
    text-transform: uppercase;
}
h5 {
    letter-spacing: .07rem;
    text-align: center;
    text-transform: uppercase;
}
h5 {
    letter-spacing: .07rem;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
a:hover {

}
a:active {

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
