.baseFill {
  background-color: #f4f3ef;
}
.darkFill {
  background-color: #3a3a3c;
}
.blue {
  background-color: #092140;
}
.blueGreen {
  background-color: #024959;
}
.tan {
  background-color: #F2C777;
}
.redOrange {
  background-color: #F24738;
}
.red{
  background-color: #BF2A2A;
}
.baseText {
  color: #3a3a3c;
}
.blueText {
  color: #092140;
}
.blueGreenText {
  color: #024959;
}
.tanText {
  color: #F2C777;
}
.redOrangeText {
  color: #F24738;
}
.redText {
  color: #BF2A2A;
}
.blueBorder {
  border: 1px solid #092140;
}
.blueGreenBorder {
  border: 1px solid #024959;
}
.tanBorder {
  border: 1px solid #F2C777;
}
.redOrangeBorder {
  border: 1px solid #F24738;
}
.redBorder {
  border: 1px solid #BF2A2A;
}
