.myBodyText {
    font-family: 'Libre Baskerville', serif;
    margin: 0 auto;
    line-height: 2rem;
    letter-spacing: .1em;
}
.fullWidth {
    width: 100%;
}
a.fullWidth {
    width: 100%;
    display: block;
}
.halfWidth {
    width: 50%;
}
.thirdWidth {
    width: 30%;
}
.quarterWidth {
    width: 25%;
}
.center {
    margin: 0 auto;
}
.mobileButton, a.mobileButton {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #f4f3ef;
    text-transform: uppercase;
    text-align: center;
    height: 4rem;
    border-style: none;
    border-radius: 4px;
    background: #F24738;
    margin: .5rem 0;
    padding: 1rem;
}
.mobileButton:active {
    background: #BF2A2A;
}
.mobileDrop {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 3rem;
    border: 1px solid #3a3a3c;
    margin: .5rem 0;
}
input {
    font-family: 'Montserrat', sans-serif;
    height: 4rem;
    width: 12rem;
    margin: 0 auto;
    border-style: none;
    border-radius: 4px;
}
input[type='checkbox'] {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 1px solid #3a3a3c;
    margin: 1rem;
    vertical-align: middle;
}
select {
    border-style: none;
    border-radius: 4px;
}
.carYear {}
.carMake {}
.carModel {}
#map {
    position: relative;
    padding-bottom: 75%;
    height: 100px;
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    width: 90% !important;
    height: 100px !important;
}
.resultsMap {
    height: 100px;
    background: #F1FEE5;
}
.resultsChart {
    height: 100px;
    background: #C1FEE5;
}
.gasLogo {
    height: 90%;
}
