nav {
  border-radius: 4px;
  margin: 2rem auto 1rem auto;
  text-transform: uppercase;
  letter-spacing: .2rem;
}
nav ul {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
nav ul li {
  padding: .5rem 1rem;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}
nav a {
  color: #f4f3ef;
}
nav ul li:hover {
  background-color: #F24738;
}
.gasLogo {
    width: 100%;
    max-width: 25rem;
    margin: 0 auto;
}
