nav {
  border-radius: 4px;
  margin: 2rem 0;
}
nav ul {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}
nav ul li {
  padding: .5rem 1rem;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
}
nav a {
  color: #f4f3ef;
}
nav ul li:hover {
  background-color: #F24738;
}
